.home--first-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--first-slider_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home--first-slider_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}