.editors-pick-form {
    gap: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-main;
}

.editors-pick-form h2 {
    font-size: 2rem;
}

.editors-pick-form p {
    color: $hover;
}
.editors-pick-form-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {

    padding: 6px 24px;
    border: none;
    
}