.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $left-space;
    background-position: center center;
    font-size: 1.5rem;
    position: relative;
    
}
.header__title{
    background-color: transparent;
}